/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&subset=cyrillic-ext");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
body {
	background: linear-gradient(
			135deg,
			#cedbe9 0%,
			#aac5de 17%,
			#6199c7 50%,
			#3a84c3 51%,
			#419ad6 59%,
			#4bb8f0 71%,
			#3a8bc2 84%,
			#26558b 100%
		)
		fixed;
	font-family: "Roboto", sans-serif;
}

div {
	display: inline-block;
}

span {
	background-color: red;
}

.bg .block1 {
	max-width: 400px;
	margin: 100px;
	border: 1px solid black;
	background-color: #f1da36;
}

.bg .block2 {
	max-width: 400px;
	margin: 100px;
	border: 1px solid black;
	background-image: url(../img/bg-image.jpeg);
}

.bg .block3 {
	max-width: 400px;
	margin: 100px;
	border: 1px solid black;
	background-image: linear-gradient(
		135deg,
		#f0b7a1 0%,
		#8c3310 50%,
		#752201 62%,
		#752201 62%,
		#752201 62%,
		#752201 62%,
		#bf6e4e 100%
	);
}

.bg .block4 {
	max-width: 400px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/bg-image.jpeg) 50% / cover no-repeat scroll #f1da36;
}
.bg .block5 {
	max-width: 400px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/icon.png) right bottom / 30% no-repeat, url(../img/bg-image.jpeg) 50% / cover #f1da36;
}

.bg .block6 {
	text-align: right;
	display: block;
}
.bg .block6 ul li {
	font-size: 25px;
	background: url(../img/item.png) right center / 25px no-repeat #f0b7a1;
	padding: 0 30px 0 0;
}

.repeat .block1 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: no-repeat;
}

.repeat .block2 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: repeat;
}

.repeat .block3 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: repeat-x;
}

.repeat .block4 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: repeat-y;
}

.repeat .block5 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: space;
}

.repeat .block6 {
	max-width: 350px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: round;
}

.position .block1 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: no-repeat;
	background-position: right center;
}

.position .block2 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: no-repeat;
	background-position: 150px 200px;
}

.position .block3 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: no-repeat;
	background-position: 20% 200px;
}

.size .block1 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: no-repeat;
	background-size: auto auto;
}

.size .block2 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background-image: url(../img/pattern.jpeg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}

.size .block3 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: no-repeat;
	background-size: 30% 70%;
}

.size .block4 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: no-repeat;
	background-size: 30% 450px;
}

.size .block5 {
	max-width: 500px;
	margin: 100px;
	border: 1px solid black;
	background: url(../img/pattern.jpeg) #f1da36;
	background-repeat: no-repeat;
	background-size: contain;
}

.attachment .block1 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background-image: url(../img/pattern.jpeg);
	background-attachment: fixed;
}

.attachment .block2 {
	max-width: 500px;
	min-height: 500px;
	margin: 100px;
	border: 1px solid black;
	background-image: url(../img/pattern.jpeg);
	background-attachment: scroll;
}

.practice1 {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
	padding: 30px;
	background: #f5f5f5;
	margin: 100px;
	border-radius: 10px;
}

.practice1 ul li {
	max-width: 237px;
	padding: 0 0 16px 34px;
}

.geo {
	background: url(../img/geo.png) 0 2px no-repeat;
}

.phone {
	background: url(../img/phone.png) 0 2px no-repeat;
}

.mail {
	background: url(../img/mail.png) 0 2px no-repeat;
}

.time {
	background: url(../img/timer.png) 0 2px no-repeat;
}

.practice2 {
	display: block;
	background: url(../img/BG.jpg) 100% / cover no-repeat;
	padding: 0 210px;
}

.practice2 .title {
	font-weight: 900;
	font-size: 56px;
	line-height: 56px;
	color: #ffffff;
	max-width: 583px;
	margin: 280px 0 48px 0;
}

.practice2 .button {
	text-align: center;
	width: 211px;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #ffffff;
	background: url(../img/Button.png) right no-repeat #c40b0b;
	padding: 10px 45px 9px 13px;
	margin: 0 809px 300px 0;
	text-decoration: none;
	color: #ffffff;
}

.practice2 .button a {
	text-decoration: none;
	color: #ffffff;
}

.practice3 {
	display: block;
	background: url(../img/BG-Image.jpg) 100% / cover no-repeat;
	padding: 0 210px;
}

.practice3 .header .logo {
	display: block;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #d5d5d5;
	background: url(../img/logo.png) left no-repeat;
	margin: 112px 0 32px 0;
	padding: 0 0 0 33px;
}

.practice3 .img {
	display: block;
}

.practice3 .header__img .img img {
	margin-top: -300px;
}
.practice3 .title {
	/* display: block; */
	max-width: 411px;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
	margin: 0 107px 79px 0;
}

.practice3 .list {
	padding: 0 24px 134px 0;
}

.practice3 .list .item__oil {
	max-width: 237px;
	background: url(../img/car_oil.png) no-repeat;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #c40b0b;
	padding: 0 0 0 87px;
}

.practice3 .list .item__oil .descr {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}

.practice3 .list .item__transmission {
	max-width: 237px;
	background: url(../img/car_transmission.png) no-repeat;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #c40b0b;
	padding: 0 0 0 87px;
}

.practice3 .list .item__transmission .descr {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}

.practice3 .list .item__alignment {
	max-width: 237px;
	background: url(../img/car_alignment.png) no-repeat;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #c40b0b;
	padding: 0 0 0 87px;
}

.practice3 .list .item__alignment .descr {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}

.practice3 .list .item__engine {
	max-width: 237px;
	background: url(../img/car_engine.png) no-repeat;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #c40b0b;
	padding: 0 0 0 87px;
}

.practice3 .list .item__engine .descr {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}
